<h2 id="firstHeader">Lets play some Golf!</h2>

<div *ngIf="courseRender">
  <label>Choose a course:</label>
  <select [(ngModel)]="courseID" class="form-control col-6">
    <option value="18300">Fox Hollow</option>
    <option value="11819">Thanksgiving Point</option>
    <option value="11902">Spanish Oaks</option>
  </select>
  <button (click)="selectCourse()">Next</button>
</div>

<div *ngIf="difficultyRender">
  <label>Select difficulty</label>
  <select [(ngModel)]="difficulty" class="form-control col-4">
    <option value="champion">Champion</option>
    <option value="pro">Pro (Champion if Spanish Oaks)</option>
    <option value="men">Men</option>
    <option value="women">Women</option>
  </select>
  <button (click)="selectDiff()">Next</button>
</div>

<div *ngIf="playerCountRender">
  <label>How many players are playing?</label>
  <select [(ngModel)]="playerCount" class="form-control col-2">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  <button (click)="numOfPlayers()">Next</button>
</div>

<div *ngIf="nameAskRender">
  <label>Gimme names:</label>
  <div *ngFor="let i of playerCountArray">
    <input type="text" />
  </div>
  <button (click)="letsPlay()">Lets Play!</button>
</div>
