<h3 id="courseName"></h3>
  <div id="mobile">Mobile users must tilt phone horizontally</div>

  <div id="cardStuff">
    <div id="cardStuff1">
      <div class="row">
        <div class="col-1 leftColumn">HOLE</div>
        <div class="col-1 text-center">1</div>
        <div class="col-1 text-center">2</div>
        <div class="col-1 text-center">3</div>
        <div class="col-1 text-center">4</div>
        <div class="col-1 text-center">5</div>
        <div class="col-1 text-center">6</div>
        <div class="col-1 text-center">7</div>
        <div class="col-1 text-center">8</div>
        <div class="col-1 text-center">9</div>
        <div class="col-1 text-center">OUT</div>
      </div>

      <div class="row">
        <div class="col-1 leftColumn">YARDS</div>
        <div class="col-1 text-center" id="yards1"></div>
        <div class="col-1 text-center" id="yards2"></div>
        <div class="col-1 text-center" id="yards3"></div>
        <div class="col-1 text-center" id="yards4"></div>
        <div class="col-1 text-center" id="yards5"></div>
        <div class="col-1 text-center" id="yards6"></div>
        <div class="col-1 text-center" id="yards7"></div>
        <div class="col-1 text-center" id="yards8"></div>
        <div class="col-1 text-center" id="yards9"></div>
        <div class="col-1 text-center"></div>
      </div>

      <div class="row">
        <div class="col-1 leftColumn">HDCP</div>
        <div class="col-1 text-center" id="hdcp1"></div>
        <div class="col-1 text-center" id="hdcp2"></div>
        <div class="col-1 text-center" id="hdcp3"></div>
        <div class="col-1 text-center" id="hdcp4"></div>
        <div class="col-1 text-center" id="hdcp5"></div>
        <div class="col-1 text-center" id="hdcp6"></div>
        <div class="col-1 text-center" id="hdcp7"></div>
        <div class="col-1 text-center" id="hdcp8"></div>
        <div class="col-1 text-center" id="hdcp9"></div>
        <div class="col-1 text-center"></div>
      </div>

      <div class="row">
        <div class="col-1 leftColumn">PAR</div>
        <div class="col-1 text-center" id="par1"></div>
        <div class="col-1 text-center" id="par2"></div>
        <div class="col-1 text-center" id="par3"></div>
        <div class="col-1 text-center" id="par4"></div>
        <div class="col-1 text-center" id="par5"></div>
        <div class="col-1 text-center" id="par6"></div>
        <div class="col-1 text-center" id="par7"></div>
        <div class="col-1 text-center" id="par8"></div>
        <div class="col-1 text-center" id="par9"></div>
        <div class="col-1 text-center"></div>
      </div>
    </div>


    <hr>


    <div id="cardStuff2">
      <div class="row">
        <div class="col-1 leftColumn">HOLE</div>
        <div class="col-1 text-center">10</div>
        <div class="col-1 text-center">11</div>
        <div class="col-1 text-center">12</div>
        <div class="col-1 text-center">13</div>
        <div class="col-1 text-center">14</div>
        <div class="col-1 text-center">15</div>
        <div class="col-1 text-center">16</div>
        <div class="col-1 text-center">17</div>
        <div class="col-1 text-center">18</div>
        <div class="col-1 text-center">IN</div>
      </div>

      <div class="row">
        <div class="col-1 leftColumn">YARDS</div>
        <div class="col-1 text-center" id="yards10"></div>
        <div class="col-1 text-center" id="yards11"></div>
        <div class="col-1 text-center" id="yards12"></div>
        <div class="col-1 text-center" id="yards13"></div>
        <div class="col-1 text-center" id="yards14"></div>
        <div class="col-1 text-center" id="yards15"></div>
        <div class="col-1 text-center" id="yards16"></div>
        <div class="col-1 text-center" id="yards17"></div>
        <div class="col-1 text-center" id="yards18"></div>
        <div class="col-1 text-center"></div>
      </div>
      
      <div class="row">
        <div class="col-1 leftColumn handicap">HDCP</div>
        <div class="col-1 text-center" id="hdcp10"></div>
        <div class="col-1 text-center" id="hdcp11"></div>
        <div class="col-1 text-center" id="hdcp12"></div>
        <div class="col-1 text-center" id="hdcp13"></div>
        <div class="col-1 text-center" id="hdcp14"></div>
        <div class="col-1 text-center" id="hdcp15"></div>
        <div class="col-1 text-center" id="hdcp16"></div>
        <div class="col-1 text-center" id="hdcp17"></div>
        <div class="col-1 text-center" id="hdcp18"></div>
        <div class="col-1 text-center"></div>
      </div>
      
      <div class="row" id="parRow">
        <div class="col-1 leftColumn">PAR</div>
        <div class="col-1 text-center" id="par10"></div>
        <div class="col-1 text-center" id="par11"></div>
        <div class="col-1 text-center" id="par12"></div>
        <div class="col-1 text-center" id="par13"></div>
        <div class="col-1 text-center" id="par14"></div>
        <div class="col-1 text-center" id="par15"></div>
        <div class="col-1 text-center" id="par16"></div>
        <div class="col-1 text-center" id="par17"></div>
        <div class="col-1 text-center" id="par18"></div>
        <div class="col-1 text-center"></div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div id="parTotal" class="totals col-3"></div>
    <div id="yardsTotal" class="totals col-3"></div>
    <div id="handicapTotal" class="totals col-3"></div>
</div>

    <div id="playerTotals" class="row totals"></div>


  